body {
    background-color: rgb(0, 0, 0);
}

h2.msg-term {
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    margin-right: 8px;
    padding: 0px 0px 0px 0px;
}

h2 {
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    margin-right: 8px;
    padding: 20px 0px 0px 70px;
}


p.wlcm-msg {
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    margin-right: 8px;

}

p.msg-test {
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    margin-right: 8px;
    padding: 0px 0px 0px 70px;

}

pre {
    color: #39ff14;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
}

div.msg-cont {
    padding-left: 70px;
    color: #ff6614;
    background-color: rgb(0, 0, 0);
    line-height: 50px;
    padding: 70px 70px 70px 70px;

}