body {
    background-color: rgb(0, 0, 0);
}

h2 {
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
    font-size: 14px;
    line-height: 1.6;
    padding: 20px;
    font-weight: 700;
    margin-right: 8px;
}

p {
    font-family: "Courier New", Courier, monospace;
    color: #39ff14;
    font-size: 14px;
    line-height: 1.6;
    padding: 20px;
    font-weight: 700;
    margin-right: 8px;
}

pre {
    color: #39ff14;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
}